/* Footer */
footer {
  background: $color-blanco;
  color: #232323;
  text-align: center;
  padding: 18px 14px;
  margin-top: 30px;

  /* Texto del footer */
  p {
    margin: 0;
    font-weight: 600;
  }
}